# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env.*
venv/
.envrc

# VSCode or JetBrains IDEs
.vscode/
.idea/

# Docker
*.log
*.pid
*.db
docker-compose.override.yml

# Byte-compiled or temp files
*.swp
*.bak
*.tmp

# Docker volumes
volumes/

# Mac & Linux metadata
.DS_Store
Thumbs.db

# Secrets (always!)
.env
secrets.env
